header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  box-shadow: inset 0px -2px 1px #333;

  h1 {
    width: 100%;
    font-size: 5vh;
    text-align: center;
    color: #c92933;
  }

}

.contentBox {
  width: 100%;
  height: 90vh;
  min-height: calc(740px - 10vh);
  padding: 5%;

  .contentInner {
    width: 100%;
    height: 100%;

    .boothBoxWrapper {
      position: relative;
      width: 100%;
      height: 100%;
      perspective: 400px;

      .boothBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 75%;
        height: 100%;
        opacity: 0;
        transition: .3s linear;
        transform-style: preserve-3d;

        &.up {
          transform: rotateX(25deg) translateY(-60%);
        }

        &.down {
          transform: rotateX(-25deg) translateY(60%);
        }

        &.active {
          opacity: 1;
        }

        .boothName {
          width: 100%;
          padding-bottom: 5%;
          transition: .3s linear;
          opacity: 0;

          &.active {
            opacity: 1;
          }

          h2 {
            font-size: 9vw;
            text-shadow: 0px 0px 10px #c92933;
            color: #fff;
          }
        }

        .boothMainImg {
          position: relative;
          width: 100%;
          height: 70%;
          border-radius: 0 0 40px 0;
          box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.13);

          img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0 0 40px 0;
            z-index: 3;
            filter: saturate(1.5);
          }

          .conceptListBox {
            position: absolute;
            bottom: 2%;
            right: 0;
            width: 27%;
            height: 90%;
            z-index: 2;
            transition: .3s all;

            &.active {
              right: -34%;
            }

            .conceptList {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;

              .conceptItem {
                width: 100%;
                height: 25%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .circle {
                  width: 15vw;
                  height: 15vw;
                  // border: 1px solid #fff;
                  border-radius: 50%;
                }

                .conceptItemName {
                  margin-top: 8%;
                  color: #fff;
                  font-size: 4vw;
                  text-align: center;
                }

              }

              .neon {
                border: 1px solid #c92933;
                box-shadow: 0px 0px 2px #fff,
                            0px 0px 10px #ed2230,
                            inset 0px 0px 2px #fff,
                            inset 0px 0px 10px #ed2230;
              }

              .modern {
                background: linear-gradient(43deg, rgba(65,74,76,1) 40%, rgba(35,43,43,1) 60%);
                box-shadow: 1px 1px 8px rgb(65,74,76);
              }

              .profile {
                background: linear-gradient(43deg, rgba(237,237,237,1) 40%, rgb(185, 185, 185) 60%);
                box-shadow: 1px 1px 8px rgb(237,237,237);
              }

              .art {
                background: linear-gradient(43deg, rgba(255,48,0,1) 30%, rgba(255,163,0,1) 47%, rgba(255,249,65,1) 60%, rgba(118,255,65,1) 75%);
                box-shadow: 1px 1px 8px rgba(138, 138, 138, 0.575);
              }

              .dynamic {
                background: radial-gradient(circle, rgba(231,239,247,1) 5%, rgba(62,165,238,1) 23%, rgba(48,134,210,1) 47%);
                box-shadow: 1px 1px 8px rgb(231,239,247);
              }

            } // conceptList

          }

        } // boothMainImg

        .boothExplain {
          margin-top: 5%;
          width: 100%;
          padding: 3%;
          font-size: 4.5vw;
          color: #fff;
          letter-spacing: 1px;
          transition: .3s linear;
          opacity: 0;

          &.active {
            opacity: 1;
          }

          span {
            font-weight: bold;
            text-shadow: 1px 1px 3px #ed2230;
          }
        } // boothExplain

      } // boothBox

      .boothSwitchBtn {
        position: absolute;
        top: 0;
        right: 0;
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .upArrow,
        .downArrow {
          position: relative;
          width: 100%;
          height: 15%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          z-index: 1;

          .arrowWrapp {
            width: 100%;
            height: 40%;
            display: flex;
            align-items: center;

            .leftBar,
            .rightBar {
              width: 50%;
              height: 3px;
              background: #c92933;
            }
          }

          .arrowName {
            width: 100%;
            color: #fff;
            font-weight: lighter;
            font-size: 3.5vw;
            text-align: center;
          }

        }

        $arrowX: 23%;
        .upArrow {
          .leftBar {
            transform: rotate(-45deg) translateX($arrowX);
          }
          .rightBar {
            transform: rotate(45deg) translateX(-$arrowX);
          }
        }

        .downArrow {
          .leftBar {
            transform: rotate(45deg) translateX($arrowX);
          }
          .rightBar {
            transform: rotate(-45deg) translateX(-$arrowX);
          }
        }

      }

    }

  }

}